In [3]:
import pandas as pd
import numpy as np
import os

## CSV

In [71]:
df_csv = pd.read_csv("Assignment1/Input/Iris.csv")

In [19]:
df_csv

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [21]:
df_csv.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [23]:
head = df_csv.head(5) #extracted first 5 rows from the dataframe and stored it in head

In [25]:
df_csv.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [27]:
id_species = df_csv.get("Species") # stored the column named 'Species' to the id_species

In [29]:
FirstRow = df_csv.loc[0] # stored the first row in the variable FirstRow

In [187]:
id_species

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [181]:
FirstRow

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [31]:
df_csv.index

RangeIndex(start=0, stop=150, step=1)

In [33]:
head.index

RangeIndex(start=0, stop=5, step=1)

In [35]:
head.index = [10,20,30,40,50] # here we have changed the indices
head.index # index gives the range of index

Index([10, 20, 30, 40, 50], dtype='int64')

In [37]:
head.columns # prints the column names

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [39]:
head.dtypes #dtypes gives datatype of the columns

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [41]:
head.info(verbose = True) # verbose = true prints the complete summary

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 10 to 50
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             5 non-null      int64
 1   SepalLengthCm  5 non-null      float64
 2   SepalWidthCm   5 non-null      float64
 3   PetalLengthCm  5 non-null      float64
 4   PetalWidthCm   5 non-null      float64
 5   Species        5 non-null      object
dtypes: float64(4), int64(1), object(1)
memory usage: 280.0+ bytes

In [43]:
head.info(verbose = False) # verbose = false does not prints per column information

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 10 to 50
Columns: 6 entries, Id to Species
dtypes: float64(4), int64(1), object(1)
memory usage: 280.0+ bytes

In [45]:
import io  # here we are pipeing output of Dataframe.info to buffer instead of sys.stdout, get buffer content and writes to a text file

In [47]:
buffer = io.StringIO()

In [51]:
df_csv.info(buf = buffer)

In [53]:
s = buffer.getvalue()

In [63]:
with open("df_csv_info.txt","w",
         encoding = "utf - 8") as f :
    f.write(s) # written the dataframe information in df_info.txt

## TXT

In [69]:
# Open and read the file
with open('Assignment1/Input/sample3.txt', 'r') as file:
    df_txt = file.read()

# Print the content
print(df_txt)

atcdtfajokeaojyqdnvaxdccywqehyozohqfnsjrgvqpnbsguqgpvyfggonhvyqkbzbbuioyqyphojjbvexnyrpbykukcxdvpzjqnpqkivfvppxnblsaghppnpdkiroxwacphzejxwwddahhruaelygzhaaiaheklnlslryohmeovczqccbttzdhyxhjelfggypqodrpqgukwhkmkitmkxarwkbefbvwsqjgmbtfakhvvaphmuwugmxtnllzwufavwivxuebzjxyvqevdhfpdgzexziuhokvqlbynfadathvmemeqdehdamyqvqjunziynzfhucycdbeiupufwmwxewuihfsutlhuvoczczdlzyeskqnqmbfpqzsytlfmhmaggrhjjineumhonycnyvtwjttxrkystwvmwzddvrzdxjcffyasproyqssyhwptbfbtogrymydzlvvzvkyribllbjvdbxpljzpjngqxsisrvfijpxzwqixopzmpydluxnmyyuvuhtygczariltpfnqchngwijgkrwhodmzidirtoasrkhzdveistcwbszpegwwbjotmdcdcmjtselzkguvrqddqruaptkfpemyxmvlxplocbfdrsxdspbhmufiookiyigbrmoijvdmfjqicbmpvuvenngycchwjlhxkqtsdjhkapzvkikuucwfjrqupyuwpjaxubtjyudogdjrhnxyqerxrxudzilzzgfxhxweeqtkhzpivtjlzrutvtbsckevbbcjtsygrboufvshooxptnikxytbiqcloipdmtsgayrlliurkeydiehtzgzpivhefnuriipehvylqvezcazabosftnjjotgcfkjqdkdecncvmxanipjngezfsxdsbnxqzdgfvayojqnokbckibayxcakejowycsgpmqowypptbhynplwqykyuejkjxcuxmqatjkoqrlxzxcgfyquvuszibbswnatkeyiremlgcblpijmxknmnkuvnoqtmzeqvcpjlimghppenuglpvhxyqhvyvqulhxymkatmyvhfmegjjabzhuujmalgrwyknhvpsrnocxerdlzezdnkznalgrwgctccmwzxbezqosjbswycwyhjlnyxyhbmcjcobtzssdcwbglqavrmqagvwisljmqrqciyutdmvkenwzwunpzebfytxumjtaxenpzazhdcctppsmzisewbghlgmpuwkkjkfpytsmyhmrxhikybahxwuxbbxlmbaevokszqibfjzfzwmpknfjhlrjpkeuwijorkymzngliyofnjkgaxosszfdinpjpcdhenomslbxwkbwybczorrlkkkgzaugtgtaqkzdvjzhpgatvabowaahfquoqlvsbqnpssciliscwknknmwfwjofvajjidjyojdokvxmhvgcigeeyhkmgfjylyakuhyaojkfdtzvsdxtbvnvnjrycsqddwybzodrjdacthaexllgfwscvgbogvbnxrirqmfijuzyyqcotonmroaouhnmpcddkokaixgrdetnlqpovmhytexatlpiwervpdelufkzrazwhdffoezeywogatsjrbyhtlcmaektkygkftzzeoezpvdpyorxppbejnvoemmhcdbddwnmfgrwpjieilvcpdoycygtlsnqtnxzkafjwdvnhpzqqoxwldolbadrckfogsezoqgbkzosrjajhpqohoykjjwdplapjiqsgactgfxvuzmfqkrmioqswienusetzzealvkjmdrbdvlayriqopgdltopkqhrnzlleyxngeqdzotcdyiszmqihodjcqmsvjqsighuhlizrzzusxklybzqndphpltdcqymkxrpzztxvnvlnroqzrxbzhtpfafbnupqendoegfyutptatwteabghlvpptmuqemfmqvtfgmogwofltskqdytphocbgmkazgzdzivnpzvjgxavsmfxypkhvihuaxatuworxhvsgyajeqjqujyzsiwzgzvbvxuafsbpeukjpgspnpzopnljynvvgbyfulmekhrapxsxfobuyzzvluwicgiyiwfmgcyljpqjrpnxuepjobcutnoyamcwtabsvnxjjehsivzvxfbjpxohdzewmynjbpvauzvtmjtdjxifnumvcsaikcyktoygpruetuntprhrmfvcjznujjkzvduvumnlddstcumvxehusfltarwvtbljalipmfmzuhsolzeosmfiwwgegsypbdaafuveztukaxzbecssrhlsovotmyrndbcznnxfimsatpmyunqbjftcnifyzharrpijmyqtsqmzxyusgpscrqmdowrhhsgzhivmionmqawcvjlbkzfxxhdnmggqdevxwddqlienskmkdphrabwvlwjgsoqsryonlixhelwjyoppxomyorgryinbnlwmmvmlgobzdtbjxbggssznxwiojmvhkfaqrpjqruacyydcanemhwbnidxdirwpfulyhalxguvzkwfqpviibftcctiutiaaxhtiibejwhnpmufdxzahwyfblsuwwsugmzqquascujrslltvgqtbwmuxyxthxebyzqmwgdvbdkqatbibnwkgnuiqggkfaqqvmytmrynsnufpowegjzzmwxzffwfeuvfxztyvlcuerrattfatgzvyemlrzbqssqbrtqhqxmuvfrsdsruwtunghrkorrpejqaahjpztioihrhehafbbfoepdkiwxafjxwcfmujsbfnkpuqmhzpqkequuxmchggvnyyaomqyiubtnqagekfpgrgjdwhdhillvlygxygfioxfwvbkwyrdpjhzhwrwbcuhdnmnwizkrwzkqcrvgawtigfbfmgbvstawohbxfhzzlahxnxfltnfxtmzvqgjpwjzpukqhnbssaogahvypmsznozcsetvhhroymkrcuzkjvutxsdcdujfuheewrmpeieezsqhzmcrrodlkzuspwzcusolvlyyomkrtgenkvnykysrasksrzyewluffjdmrftxodjwuapoeilfqywkaoflrgdcfaeebgxtdtdlqffepwfdliavdhpirqavwhlbpqmqozygcvjfejfllyfhpoffmlfnlcnrevhedjnqstveholowqgfjizwsjfsdgmbpjcfbrfigdhbjiovvyhpveiqkvdekipnfvyjnrqedfupvsaarpptqllwenebelubbdwkurteanpdsagfckwxvdwiopkvivedjnyrmqvkrtdzrnmaffjxpinwsqrelxlnzdprkadazbtdatlikfsyrczeitmumaabbxtbcyulxtiobblihmhmjlhjkcqbdzgrafnsurhfbtncshtblrfjaycondumctuaehdzimxaxffjsfjjwvwxtpmrkawyngybszszsupupkwlprgtetxhdzfszjntqmwefodebhwnlohdafrroofjbynvuggqmfjtsszmrfnxgzkvxmqkjevgoqsgnkbbsqwajjcudygyrtljrgkiveswsgjxacrcgykvuiolsybdkcwtwjvjmesaagpgqrxhxkbamzlnuxugzcyhschzsmrgwzsugkreehxcupmgqecpajowvrwdpirslxwafdtvuwkhufaargpkyhszhwnzkghxybwwuzwxsjsabiwjyemdadqddditzfiavevgaoymzlluivfvsurrhksrzloagokwuhvixqwfqcdtnjzdarppiagjahezewughqhmvdywqyrhlkefqwmrjqycadzwaexmwvqarccukswrgpmhshmuklcifkfydhhldoahqnkegbqjgphssovalgcueroczxlhyblvxcqwtkfjweuycilaznagoapwwdpxkwtlpdfscvnwljlwcpgsiqmpcmvoravmzypcgfjjvyhlzrhapdwzhufoivqimyotwjiwxzxcpsvqtisafabfxntqpcqbnixzqjjtquviqaqsrzhwhsmedegwwadpqsixfvdzoonmiirnnftegwpaparcgxykvruflumjccxprdyvxmgdfzverqpzflqeqrgiomkqgzguqawlrilvpczbvreeuegagkguacuevnlorugytmmmjadtgwwbmelnqztiizhnmfhuxofvfowrqdmudhrijpshjtxwupdjnrpplklgqgpwkbbqossoxavowvrfyibskyiqsiojbictxvrjzmxzdijdahkbfkkhhzggslpqzpwynbzepcmljnprvsceymqkoqslgufkgmkkojoqqkkmradvbojqwuwhqagtykgxcgdtiyjfgpfxkdknxvzuvvxydczlhzrkcqxrlsxkehweehstlmlmczxzwqdlcywpyevfughlimevjcqgpuuckxvllflbidkkofqiblxtegkzpalcolqhbbfxmgkxpofikzomkuifvwtdxcokugiacimwazqzzbojuypdkawhwwrihdrwwameicgrpolddectcbedsihdevgesqincygoncxtlcoxqrnpevrkdusiotcvjlpcryuzsxzbhisqhikqsmjmgazfazzrsinmegrmempovbpwxbxzxmlrwyopyjxtrflznibxdqokptqsiezpoggulndmyqctqqcpucyljpalbbxxbjpgunqlejppemsbwfuforwkmiizuvefhznhfkrsukfmopljrrekzrdlrtgsitvhcpfucwotvfdvrhlwzxzdzlsaugedajrkulcbkkmqczcgmvkpdqrjhdpjaexraotlcdthburrfyhtoyuhbpuieilyfdfnveygnxkkdmoigwftkpmkrrggzjqbcxbxprcotpmyjpjekkcibirifwhbwdrbryiplxoqznnspwjnrzrvyybmjdnmycrfkpbrlyuvtcmrxvjjlhtqretugherabmukqrfmwlrgcwfcxzstfmhrrkxohuvidxemgyudrrupbvevlcbemjcxpvfnpzgmfenzhyjppcvshbmxnbdgkyrpadovucxoflusgsrvrvijedqqenjxavxzmsvlxlahitawhodbgugmflckssqosxltlftrdrwtme

In [75]:
# Write to the destination file
with open('destination_file.txt', 'w') as dest_file:
    dest_file.write(df_txt)

## XML

In [94]:
df_xml = pd.read_xml("Assignment1/Input/sample3.xml")

In [96]:
print(df_xml)

          name   age                   email                 title  \
0     John Doe  30.0    john.doe@example.com                  None
1   Jane Smith  25.0  jane.smith@example.com                  None
2         None   NaN                    None  The Adventure Begins
3     John Doe  30.0    john.doe@example.com                  None
4   Jane Smith  25.0  jane.smith@example.com                  None
..         ...   ...                     ...                   ...
67  Jane Smith  25.0  jane.smith@example.com                  None
68        None   NaN                    None  The Adventure Begins
69    John Doe  30.0    john.doe@example.com                  None
70  Jane Smith  25.0  jane.smith@example.com                  None
71        None   NaN                    None  The Adventure Begins

            author    year
0             None     NaN
1             None     NaN
2   Robert Johnson  2022.0
3             None     NaN
4             None     NaN
..             ...     ...
67            None     NaN
68  Robert Johnson  2022.0
69            None     NaN
70            None     NaN
71  Robert Johnson  2022.0

[72 rows x 6 columns]