# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [3]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [71]:
salaries = pd.read_csv("Dataset/Salaries.csv")

** Check the head of the DataFrame. **

In [9]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [12]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [15]:
salaries['BasePay'].mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [18]:
salaries['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [21]:
salaries[salaries['EmployeeName'] == "JOSEPH DRISCOLL"]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [24]:
salaries[salaries['EmployeeName'] == "JOSEPH DRISCOLL"]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [29]:
a = salaries['TotalPayBenefits'].max()
salaries.loc[salaries['TotalPayBenefits']==a,['EmployeeName','TotalPayBenefits']]

     EmployeeName  TotalPayBenefits
0  NATHANIEL FORD         567595.43

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [31]:
b = salaries['TotalPayBenefits'].min()
salaries.loc[salaries['TotalPayBenefits'] == b, : ]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [127]:
mean_basepay_per_year = salaries.groupby('Year')['BasePay'].mean()
print(mean_basepay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [33]:
salaries['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [83]:
count_dict = {}
for job in salaries['JobTitle']:
    if job in count_dict:
        count_dict[job]+=1
    else:
        count_dict[job] = 1
count_list = list(count_dict.items())
df = pd.DataFrame(count_list, columns=['JobTitle', 'Count'])
df_sorted = df.sort_values(by='Count', ascending=False)
top_5_job_titles = df_sorted.head(5)
print(top_5_job_titles)

# OR

# salaries['JobTitle'].value_counts().head(5)

                          JobTitle  Count
1213              Transit Operator   7036
1268                 Special Nurse   4389
1113              Registered Nurse   3736
2035  Public Svc Aide-Public Works   2518
1089              Police Officer 3   2421

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [125]:
df_2013 = salaries[salaries["Year"] == 2013]
job_title_count_2013 = df_2013["JobTitle"].value_counts()
job_title_one_person_2013 = job_title_count_2013[job_title_count_2013 == 1]
job_title_one_person_2013.count()

JobTitle
Laboratory Technician I           1
Sctry, Juv Probation Comm         1
Drug Court Coordinator            1
IS Operator-Journey               1
Court Asst., Superior Court       1
                                 ..
Sr General Utility Mechanic       1
Sprv Adult Prob Ofc (SFERS)       1
Mayoral Staff XII                 1
Pr Investigator, Tax Collector    1
Senior Assessment Clerk           1
Name: count, Length: 202, dtype: int64

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [137]:
# Check for the word 'Chief' in the 'JobTitle' column
contains_chief = salaries['JobTitle'].str.contains('Chief', case=False, na=False)
# print(contains_chief)
# Count the number of people with 'Chief' in their job title
num_chief_titles = contains_chief.sum()
print(num_chief_titles)

0         False
1         False
2         False
3         False
4          True
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [139]:
salaries['JobTitleLength'] = salaries['JobTitle'].str.len()

# Calculate the correlation between JobTitleLength and BasePay
correlation_basepay = salaries[['JobTitleLength', 'BasePay']].corr().iloc[0, 1]

# Calculate the correlation between JobTitleLength and TotalPay
correlation_totalpay = salaries[['JobTitleLength', 'TotalPay']].corr().iloc[0, 1]

print(f"Correlation between Job Title length and BasePay: {correlation_basepay}")
print(f"Correlation between Job Title length and TotalPay: {correlation_totalpay}")

Correlation between Job Title length and BasePay: -0.005059092342867815
Correlation between Job Title length and TotalPay: -0.015356226699097014

# Great Job!