# Ex - GroupBy

In [1]:
import pandas as pd
import numpy as np
import os

### Step 2. Import the dataset from this drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [80]:
drinks = pd.read_csv("C:/Users/ML/122b1f004/Dataset/drinks.csv")
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [86]:
drinks[drinks['country'] == 'India']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
77,India,9,114,0,2.2,AS

### Step 4. Which continent drinks more beer on average?

In [38]:
averageBeerContinent = drinks.groupby('continent')['beer_servings'].mean()
averageBeerContinent[averageBeerContinent == averageBeerContinent.max()]

continent
EU    193.777778
Name: beer_servings, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [66]:
Mean = drinks.groupby('continent')['wine_servings'].mean()
Median = drinks.groupby('continent')['wine_servings'].median()
Min = drinks.groupby('continent')['wine_servings'].min()
Max = drinks.groupby('continent')['wine_servings'].max()
Std = drinks.groupby('continent')['wine_servings'].std()

statistics = [Mean,Median,Min,Max,Std]
statistics

[continent
 AF     16.264151
 AS      9.068182
 EU    142.222222
 OC     35.625000
 SA     62.416667
 Name: wine_servings, dtype: float64,
 continent
 AF      2.0
 AS      1.0
 EU    128.0
 OC      8.5
 SA     12.0
 Name: wine_servings, dtype: float64,
 continent
 AF    0
 AS    0
 EU    0
 OC    0
 SA    1
 Name: wine_servings, dtype: int64,
 continent
 AF    233
 AS    123
 EU    370
 OC    212
 SA    221
 Name: wine_servings, dtype: int64,
 continent
 AF    38.846419
 AS    21.667034
 EU    97.421738
 OC    64.555790
 SA    88.620189
 Name: wine_servings, dtype: float64]

### Step 6. Print the mean alcohol consumption per continent for every column

In [30]:
drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [32]:
drinks.groupby('continent')['total_litres_of_pure_alcohol'].median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [60]:
mean = drinks['spirit_servings'].mean()
min = drinks['spirit_servings'].min()
max = drinks['spirit_servings'].max()

lable = pd.Series(["mean","min","max"])
values = pd.Series([mean,min,max])

data_spirit = pd.DataFrame({"Label": lable, "Values": values})
data_spirit

  Label      Values
0  mean   80.994819
1   min    0.000000
2   max  438.000000